body {
  background-color:black;
  background-image:
  radial-gradient(rgb(0, 225, 255), rgba(0, 0, 0, 0.2) 2px, transparent 40px),
  radial-gradient(rgb(2, 236, 253), rgba(0, 0, 0, 0.15) 1px, transparent 30px),
  radial-gradient(rgb(0, 183, 255), rgba(0, 0, 0, 0.1) 2px, transparent 40px),
  radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }
  
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: outset 2px turquoise;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 3% 10%;
  }

  header {
    color: red;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  nav > a {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: turquoise;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px outset turquoise;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
  }

  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
 
  #profile-pic {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border: 2px outset turquoise;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }

  h1 {
    color: red;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }

  h2 {
    color: red;
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  h3 {
    color: red;
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }

  .small-text {
    grid-column: 2/3;
    color: white;
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    grid-column: 2/3;
    margin: 3% auto;
    width: 50%;
    height: 70%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center stretch;
    color: rgb(255, 0, 0);
    letter-spacing: 16px;
    font-style: italic;
  }
 