body {
    background-color:black;
    background-image:
    radial-gradient(rgb(255, 0, 0), rgba(0, 0, 0, 0.2) 2px, transparent 40px),
    radial-gradient(rgb(253, 2, 2), rgba(0, 0, 0, 0.15) 1px, transparent 30px),
    radial-gradient(rgb(255, 0, 0), rgba(0, 0, 0, 0.1) 2px, transparent 40px),
    radial-gradient(rgba(168, 8, 8, 0.384), rgba(43, 10, 10, 0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
form {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #860000;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 0, 0);
    border:1px solid #ff0606;
}
h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #000000;
    margin: -10px -15px 30px -10px;;
    color: rgb(0, 0, 0);
}
h1>span {
    display: block;
    font-size: 11px;
}
label {
    display: block;
    margin: 0px;
}
label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}
input[type="text"], input[type="email"], textarea, select {
    border: 1px solid #ff0000;
    color: rgb(255, 0, 0);
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
textarea{
    padding: 5px 3px 3px 5px;
}
select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: rgb(255, 255, 255) url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
textarea{
    height:100px;
}
.button {
    background: #000000;
    border: none;
    padding: 10px 25px 10px 25px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 5px #ff0000;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #ff0000;
    cursor: pointer;
}
.button:hover {
    background: #ff0000
}

a {
    background: #000000;
    border: none;
    padding: 10px 25px 10px 25px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 5px #ff0000;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #ff0000;
    cursor: pointer;
}
a:hover {
    background: #ff0000;
}